.navbar{
background-color: rgb(194, 131, 212);
}

  body{
    background-color: rgb(182, 144, 217);
  }
  body {
    background-image: url('fotos/imagem8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
